<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Testing Blog</title>
  </head>
  <body>
    <h1>My Testing Blog</h1>
	{% for post in contentful.posts %}
		<article>
			<time>
				<h2><a href="{{post.fields.slug}}">{{post.fields.title}}</a></h2>
				<time class="date" datetime="{{post.fields.dateUpdate}}">{{post.fields.dateUpdate}}</time>
			</header>
			<div class="excerpt">{{post.fields.body | striptags(true)}}...</div>
			<div class="share-icons">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{contentful.siteUrl}}/{{post.fields.slug}}" target="_blank" class="facebook share-link fbc-has-badge fbc-UID_1">
					<span>Share article to Facebook (opens in new tab)</span>
				</a>
				<a href="https://twitter.com/home?status=So%20%40amys_kapers%20wrote%20this%20really%20cool%20blog%20post,%20you%20should%20check%20it%20out!%20{{contentful.siteUrl}}/{{post.fields.slug}}" target="_blank" class="twitter share-link">
					<span>Share article to Twitter (opens in new tab)</span>
				</a>
			</div>
		</article>
	{% endfor %}
  </body>
</html>
