{% set pagetitle = "My Testing Blog" %}
{% set home = true %}
{% extends 'partials/layout.njk' %}

{% block content %}
	<article class="feed">
		{% for post in collections.posts | reverse %}
			<article>
				<img src="{{post.data.featured}}"/>
				<h2>
					<a href="{{post.url | url}}">{{post.data.title}}</a>
				</h2>
				<time class="date">{{post.date | shortDate}}</time>
			</article>
		{% endfor %}
	</article>
{% endblock %}