---
pagination:
    data: contentful.posts
    size: 1
    alias: post
layout: partials/layout.njk
permalink: "{{ post.fields.slug}}/"
---

<article>
    <header>
        <h1>{{post.fields.title}}</h1>
        <div>
            {% if post.fields.dateUpdate == post.fields.datePublish %}
                <time datetime="{{post.fields.datePublish}}">{{post.fields.datePublish}}</time>
            {% else %}
                <p>Updated <time datetime="{{post.fields.dateupdate}}">{{post.fields.dateUpdate}}</time>
                </p>
                <p>First Published <time datetime="{{post.fields.datepublish}}">{{post.fields.datePublish}}</time>
                </p>
            {% endif %}
        </div>

        <div class="social-icons">
            <a href="https://twitter.com/home?status=so%20%40amys_kapers%20wrote%20this%20really%20cool%20blog%20post,%20you%20should%20check%20it%20out!%20{{contentful.siteurl}}/{{post.fields.slug}}" target="_blank" class="twitter share-link">
                {% include 'img/twitter.svg' %}
                <span>Share article to Twitter (opens in new tab)</span>
            </a>
        </div>
    </header>
    {{post.fields.body | safe}}
</article>