<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
		<title>{{ title }}</title>
		<base href="/" />
		<link rel="stylesheet" type="text/css" href="./css/main.css" />
	</head>
	<body>
		<header>
			<a href="/" class="site-header">
				<img
					alt="Panarama image of Rottnest Island Lighthouse and the beach"
					src="https://d33wubrfki0l68.cloudfront.net/8c4985377bf729a29f4a74a7b43c113a667341fe/e993e/static/rottnest-lighthouse-2500-a327daa676f93c5dbac22fc4143cabda.jpg"
					class="header-image"
				/>
				<h1 class="site-title">My Testing Blog</h1>
			</a>
		</header>
		<main class="feed">
			{% for post in posts %}
			<article>
				<h2><a href="{{post.fields.slug}}">{{post.fields.title}}</a></h2>
				<time datetime="{{post.fields.publish}}">{{post.fields.date}}</time>
				<div>
					{{post.fields.body | safe}}
				</div>
			</article>
			{% endfor %}
		</main>
		<footer class="main">
			<nav class="social">
				<a href="https://codepen.io/aimhigherwebdesign-amy/" target="_blank" class="social-link codepen">
					Codepen
				</a>
				<a href="https://github.com/amykapernick/amygoestoperth" target="_blank" class="social-link github"> Github </a>
				<a href="https://www.facebook.com/aimhigherwebdesign" target="_blank" class="social-link facebook">
					Facebook
				</a>
				<a href="https://twitter.com/amys_kapers" target="_blank" class="social-link twitter">
					Twitter
				</a>
				<a href="https://www.instagram.com/amys_kapers/" target="_blank" class="social-link instagram">
					Instagram
				</a>
				<a href="https://aimhigherwebdesign.com.au" target="_blank" class="social-link website">Website</a>
			</nav>
		</footer>
	</body>
</html>
