<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <title>{{ post.fields.title }}</title>
    <base href="/" />
  </head>
  <body>
    <h1>{{ post.fields.title }}</h1>
    <time datetime="{{post.fields.publish}}">{{post.fields.date}}</time>
    <div>
      {{post.fields.body | safe}}
    </div>
  </body>
</html>
