main {
	max-width: 1000px;
	margin: 20px auto;
}

article {
	header {
		background: none;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 50px;
		height: auto;

		&:after {
			background: url('/img/separator.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			content: '';
			display: block;
			justify-self: center;
			grid-column: 1 / -1;
			height: 30px;
			width: 100%;
		}

		h1 {
			font-size: 3em;
			grid-column: 1 / -1;
			text-align: center;
			position: static;
			margin-top: 0;
		}

		.social-icons {
			font-size: 2em;
		}
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 800px;
	}
}

.feed {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 20px;

	article {
		--article_colour: #{$blue};

		background: $background;
		border: 3px solid var(--article_colour);
		grid-row: span 5;
		display: grid;
		grid-template-columns: 100%;
		grid-template-areas: 'img' 'title' 'date' 'excerpt' 'icons';
		overflow: hidden;
		padding: 0 10px 10px;

		h2 {
			grid-area: title;

			a {
				color: var(--article_colour);

				&:hover, &:focus {
					color: $black;
					background: var(--article_colour);
				}
			}
		}

		img {
			justify-self: center;
			height: 250px;
			margin: unset;
			width: calc(100% + 20px);
			object-fit: cover;
			object-position: top center;
			grid-area: img;
		}

		time {
			grid-area: date;
		}

		.excerpt {
			grid-area: excerpt;
		}

		.social-icons {
			font-size: 2em;
			grid-area: icons;
		}

		&:nth-child(9n - 7) {
			--article_colour: #{$green};
		}

		&:nth-child(9n - 6) {
			--article_colour: #{$orange};
		}

		&:nth-child(9n - 5) {
			--article_colour: #{$purple};
		}

		&:nth-child(9n - 4) {
			--article_colour: #{$red};
		}

		&:nth-child(9n - 3) {
			--article_colour: #{$purple};
		}

		&:nth-child(9n - 2) {
			--article_colour: #{$pink};
		}

		&:nth-child(9n - 1) {
			--article_colour: #{$navy};
		}
	}
}

form {
	width: 90vw;
	max-width: 400px;
	margin: 0 auto;

	legend {
		font-size: 2em;
		margin-bottom: 20px;
	}

	label {
		display: block;
		font-size: 1.2em;
		margin-left: 10px;
	}

	input, textarea {
		border: 2px solid $blue;
		font-size: 1.1em;
		margin: 20px 0;
		padding: 10px 20px;
		width: 100%;
	}

	button {
		display: block;
		border: 2px solid $blue;
		background: $blue;
		color: #ffffff;
		font-size: 1.2em;
		padding: 10px 25px;
		margin: 0 auto;
	}
}
