header {
	background: rgba($white, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	position: relative;

	img {
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}

	h1 {
		font-size: 4em;
		margin: 0;
	}
}

@media (min-width: 70em) {
	header {
		height: 200px;
	}
}
