@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Code+Pro:ital@0;1&display=swap');

//Variables
$blue: #318ce7;
$green: #64ad66;
$orange: #f78d2b;
$red: #e53f51;
$yellow: #ffce03;
$purple: #7561c1;
$purple_bright: #9440a0;
$pink: #cb5699;
$navy: #364c93;
$background: #f7f0eb;
$black: #000000;

@import './global.scss';
@import './header.scss';
@import './content.scss';
@import './footer.scss';
@import './prismjs_dark.scss';
