<footer>
	<nav class="social-icons">
		<a href="https://codepen.io/aimhigherwebdesign-amy/" target="_blank" >
			{% include 'img/codepen.svg' %}
			<span>Link to codepen</span>
		</a>
		<a href="https://github.com/amykapernick/amygoestoperth" target="_blank">
			{% include 'img/github.svg' %}
			<span>Link to github</span>
		</a>
		<a href="https://twitter.com/amys_kapers" target="_blank" >
			{% include 'img/twitter.svg' %}
			<span>Link to twitter</span>
		</a>
		<a href="https://www.instagram.com/amys_kapers/" target="_blank" >
			{% include 'img/instagram.svg' %}
			<span>Link to instagram</span>
		</a>
		<a href="https://speaking.amyskapers.tech" target="_blank" >
			{% include 'img/notist.svg' %}
			<span>Link to notist</span>
		</a>
		<a href="https://aimhigherwebdesign.com.au" target="_blank" >
			{% include 'img/website.svg' %}
			<span>Link to website</span>
		</a>
	</nav>
</footer>